@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../font/MontserratAlternates-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../font/MontserratAlternates-Medium.ttf');
    font-weight: 500;
}